<!-- Product -->
<section class="bg-light page-section" id="{{ site.data.sitetext.product.section | default: "product" }}"
  style="background-image: url('../assets/img/product/background.png'); background-repeat: no-repeat; background-size: 100% 100%;">
  <div class="container">
    <div class="row">
        <img style="max-width:100%; align-self:flex-start;" src= "\assets\img\product\product.png">
    </div>
    <div class="row">
      <img style="margin-top:150px; max-width:100%; align-self:flex-start;" src= "\assets\img\vision\vision.png">
    </div>    
  </div>
</section>
<!-- Product -->
