// Styling for the contact section
section#contact {
  background-color: $gray-900;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .section-heading {
    color: $white;
  }

  
  .intro-text {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;

    .intro-lead-in {
      font-size: 20px;
      font-style: bold;
      line-height: 22px;
      margin-bottom: 10px;
      @include serif-font;
    }
    .intro-lead-in-subtext {
      color: rgb(216, 216, 216);
      font-size: 17px;
      font-style: italic;
      line-height: 22px;
      margin-top: 20px;
      margin-bottom: 10px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 50px;
      @include heading-font;
    }
  }

  @media(min-width:768px) {
    .intro-text {
      padding-top: 0px;
      padding-bottom: 50px;
      padding-left : 20%;
      padding-right : 20%;
  
      .intro-lead-in {
        font-size: 35px;
        font-style: bold;
        line-height: 40px;
        margin-bottom: 20px;
        @include serif-font;
        }
      .intro-lead-in-subtext {
        color: rgb(216, 216, 216);
        font-size: 25px;
        font-style: italic;
        line-height: 40px;
        margin-top: 20px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }

  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 10px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}

