// Styling for the contact section
section#product {
    background-color: $gray-900;
    background-image: url("#{$product-background}");
    background-repeat: no-repeat;
    background-position: center;
}
