// Styling for the services section

section#services {
  background-color: $white;
 
  h4 {
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-style: bold;
    @include serif-font;
  }

  .section-heading {
    margin: 50px 50px;

    h2 {
      font-size: 20px;
      margin-top: 25px;
      margin-bottom: 10px;
      font-style: bold;
      @include serif-font;
    }  
  }

  .section-subheading {

    h3 {
      font-size: 40px;
      margin-top: 25px;
      margin-bottom: 10px;
      font-style: bold;
      @include serif-font;
    }
  }
}

@media(min-width:768px) {
  section#services {
    background-color: $white;
   
    h4 {
      font-size: 60px;
      margin-top: 25px;
      margin-bottom: 10px;
      font-style: bold;
      @include serif-font;
    }
  
    .section-heading {
      margin: 50px 50px;
  
      h2 {
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 10px;
        font-style: bold;
        @include serif-font;
      }  
    }
  
    .section-subheading {
  
      h3 {
        font-size: 40px;
        margin-top: 25px;
        margin-bottom: 10px;
        font-style: bold;
        @include serif-font;
      }
    }
  }
}